<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{sessionId}] %-5level [%thread] %logger{80} :%msg%n" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout name="StandardFormat" class="ch.qos.logback.classic.PatternLayout">
            <pattern>${pattern}</pattern>
        </layout>
    </appender>

    <logger name="com.somnus" level="trace" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <!-- 日志过滤 -->
    <logger name="org.jdbcdslog.ConnectionLogger" level="info" />
    <!-- 上线初期建议lever=info，正常运行后建以lever=error,测试时lever=error-->
    <logger name="org.jdbcdslog.StatementLogger" level="info" />
    <logger name="org.jdbcdslog.SlowQueryLogger" level="info" />
    <logger name="org.jdbcdslog.ResultSetLogger" level="error" />
    <logger name="org.springframework" level="info" />

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>