<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
    <!-- application 上下文 -->
    <bean class="com.somnus.ApplicationContextHolder"/>
    
    <bean id="somnus" class="com.somnus.spring.factory.Somnus"/>
    
    <!-- 静态工厂 -->
    <bean id="user" class="com.somnus.spring.factory.BeanFactory" factory-method="getInstance">
    	<constructor-arg>
            <ref bean="somnus" />
        </constructor-arg>
    </bean>
    <!-- 实例工厂 -->
    <bean id="factory" class="com.somnus.spring.factory.BeanFactory2"/>
    <bean id="info" factory-bean="factory" factory-method="getInstance"/>
    
    
</beans>
