<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
    <bean id="parentMetaqMessageListener" class="com.somnus.metaq.support.jms.AbstractJmsReceiveListener" 
    	scope="prototype" abstract="true">
        <!--  threads to process these messages. -->
        <property name="processThreads" value="10"/>
    </bean>
    
    <bean id="sampleStringMetaqAction" class="com.somnus.metaq.action.SampleStringAction" parent="parentMetaqMessageListener"/>
    
    <!-- MQ消息监听器 -->
    <bean id="metaqListenerContainer" class="com.taobao.metamorphosis.client.extension.spring.MessageListenerContainer">
        <property name="messageSessionFactory" ref="messageSessionFactory"/>
         <property name="messageBodyConverter" ref="messageBodyConverter"/>
         <property name="subscribers">
             <map>
                 <entry key-ref="sampleStringMetaqTopic" value-ref="sampleStringMetaqAction"/>
             </map>
         </property>
    </bean>
    
    <!--  topics to be subscribed. -->
    <bean id = "sampleStringMetaqTopic" class="com.taobao.metamorphosis.client.extension.spring.MetaqTopic">
        <!-- consumer group -->
        <property name="group" value="testGroup"/>
        <!--  topic -->
        <property name="topic" value="${jms.topic.somnus.sample}"/>
    </bean>
</beans>