<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">

    <description>收报配置</description>
    
    <!-- Message converter -->
    <bean id="simpleMessageConverter" class="org.springframework.jms.support.converter.SimpleMessageConverter" />

	<!-- 定义Queue监听器(用来接收字符串) -->
	<jms:listener-container destination-type="queue" container-type="default" 
		connection-factory="connectionFactory" acknowledge="auto" >
		<jms:listener destination="sampleStringQueue" ref="sampleStringAction"/>
	</jms:listener-container>
	
	<!-- 定义Topic监听器 (用来接收字符串)-->
	<jms:listener-container destination-type="topic" container-type="default" 
		connection-factory="connectionFactory" acknowledge="auto" >
		<jms:listener destination="sampleStringTopic" ref="sampleStringAction"/>
	</jms:listener-container>
	
	
	
	<bean id="parentMessageListener" class="com.somnus.activemq.support.listener.AbstractJmsReceiveListener2" scope="prototype"
          abstract="true">
        <!-- onMessage委托给execute -->
        <property name="defaultListenerMethod" value="onReceive" />
        <property name="messageConverter" ref="simpleMessageConverter" />
    </bean>
	
	<!-- 定义Queue监听器(用来接收序列化的 Java对象) -->
	<jms:listener-container destination-type="queue" container-type="default" 
		connection-factory="connectionFactory" acknowledge="auto" >
		<jms:listener destination="sampleObjectQueue" ref="sampleObjectAction"/>
	</jms:listener-container>
	
	<!-- 定义Topic监听器 (用来接收序列化的 Java对象)-->
	<jms:listener-container destination-type="topic" container-type="default" 
		connection-factory="connectionFactory" acknowledge="auto" >
		<jms:listener destination="sampleObjectTopic" ref="sampleObjectAction"/>
	</jms:listener-container>
	
	<!-- ************************************************************************************************* -->
	<!-- *                  下面定不同的topic和queue                                                          *-->
	<!-- ************************************************************************************************* -->
	<bean id="sampleStringQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg index="0" value="${jms.queue.somnus.string.sample}" />
    </bean>
    
    <bean id="sampleStringTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg index="0" value="${jms.topic.somnus.string.sample}" />
    </bean>
    
    <bean id="sampleObjectQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg index="0" value="${jms.queue.somnus.object.sample}" />
    </bean>
    
    <bean id="sampleObjectTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg index="0" value="${jms.topic.somnus.object.sample}" />
    </bean>

</beans>